<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AuthApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['precios']">Precios</a>
      </li>
      <li class="nav-item">
        <a *ngIf="auth.isAuthenticated()" class="nav-link" [routerLink]="['protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button (click)="entrar()" *ngIf="!auth.isAuthenticated()" type="button" class="btn btn-outline-primary"> Login</button>
      <button (click)="salir()" *ngIf="auth.isAuthenticated()" type="button" class="btn btn-outline-primary"> Logout</button>
    </span>
  </div>
</nav>